# pip install scapy numpy scikit-learn joblib pandas flask werkzeug scipy


# Core dependencies
Flask==3.0.2
Werkzeug==3.0.1
scapy==2.5.0
numpy==1.24.3
scikit-learn==1.3.0
scipy==1.11.3
joblib==1.3.2
pandas==2.1.1

# Web dependencies and are not required
Flask-WTF==1.2.1  # For form handling
python-dotenv==1.0.0  # For environment variables
